<!DOCTYPE html>
<html>


<!-- ▼ Head ▼ ------------------------------------------------------------------------------------->

<head>


    <link rel="shortcut icon" type="image/x-icon" href="./Asset/Image/Icon_1.ico">


    <!-- ▼ Setting ▼ ---------------------------------------------------------------------------------->
    <meta name="version" content="0.0.1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <!-- ▲ Setting ▲ ---------------------------------------------------------------------------------->


    <!-- ▼ Reference ▼ -------------------------------------------------------------------------------->
    <!-- Vue -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <!-- CSS -->
    <link href="./Asset/CSS/Common_1.css" rel="stylesheet" />
    <!-- ▲ Reference ▲ -------------------------------------------------------------------------------->


</head>
<!-- ▲ Head ▲ ------------------------------------------------------------------------------------->


<!-- ▼ Body ▼ ------------------------------------------------------------------------------------->

<body>


    <!-- ▼ App ▼ -------------------------------------------------------------------------------------->
    <v-app id="app">
        <template>


            <!-- ▼ System bar ▼ ------------------------------------------------------------------------------->
            <main-system-bar :drawer="drawer"
                @change-drawer="Change_Drawer"><v-icon>mdi-account-circle</v-icon>顧客情報</main-system-bar>
            <!-- ▲ System bar ▲ ------------------------------------------------------------------------------->


            <!-- ▼ Navigation ▼ ------------------------------------------------------------------------------->
            <main-navigation :drawer="drawer" @change-drawer="Change_Drawer"></main-navigation>
            <!-- ▲ Navigation ▲ ------------------------------------------------------------------------------->


            <!-- ▼ Main ▼ ------------------------------------------------------------------------------------->
            <v-main id="main">
                <v-container id="main-container" class="d-flex flex-column pa-4" fluid fill-height
                    style="max-width: 100%;">

                    <transition name="fade-page">
                        <div v-show="show_page">

                            <template v-if="customer">


                                <v-card class="customer-card">
                                    <v-card-title class="section-title d-flex">基本情報</v-card-title>
                                    <v-card-title class="headline">{{ customer.name }}</v-card-title>
                                    <v-card-text>
                                        <v-row>
                                            <v-col><strong>カタカナ:</strong> {{ customer.nameKana }}</v-col>
                                            <v-col><strong>性別:</strong> {{ customer.sex }}</v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col><strong>生年月日:</strong> {{ customer.birthday }}</v-col>
                                            <v-col><strong>年齢:</strong> {{ calculateAge(customer.birthday) }}歳</v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col><strong>電話番号:</strong> {{ customer.phone }}</v-col>
                                        </v-row>
                                        <v-textarea class="mt-8" outlined name="input-7-4" label="コメント"
                                            value=customer.comment></v-textarea>
                                    </v-card-text>
                                </v-card>


                                <v-card class="customer-card" v-if="selectedData">
                                    <v-card-title class="section-title d-flex align-center">
                                        <span class="white--text">診断日:</span>
                                        <v-select v-model="selectedDataIndex"
                                            :items="customer.data.map((d, index) => ({ text: d.date, value: index }))"
                                            class="ml-4 date-select"
                                            style="max-width: 150px; padding-top: 20px;"></v-select>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-card class="customer-card">
                                            <v-card-title class="section-title">頭皮の状態</v-card-title>
                                            <v-card-text>
                                                <v-tabs v-model="activeTab" background-color="transparent" grow>
                                                    <v-tab v-for="section in scalp_sections" :key="section">
                                                        {{ section }}
                                                    </v-tab>
                                                </v-tabs>
                                                <v-tabs-items v-model="activeTab">
                                                    <v-tab-item v-for="section in scalp_sections" :key="section">
                                                        <v-img src="./Asset/Image/Test_1.png" aspect-ratio="1"
                                                            class="scalp-image"></v-img>
                                                        <v-card flat>
                                                            <v-card-text>
                                                                <v-card-text>
                                                                    <v-row class="status-item mt-4 mb-4">
                                                                        <v-col cols="3"
                                                                            style="padding-top: 0; padding-bottom: 0;"></v-col>
                                                                        <v-col class="d-flex justify-center"
                                                                            style="padding-top: 0; padding-bottom: 0;">良好</v-col>
                                                                        <v-col class="d-flex justify-center"
                                                                            style="padding-top: 0; padding-bottom: 0;">普通</v-col>
                                                                        <v-col class="d-flex justify-center"
                                                                            style="padding-top: 0; padding-bottom: 0;">注意</v-col>
                                                                    </v-row>
                                                                    <v-row align="center"
                                                                        v-for="(item, key) in scalpItems" :key="key"
                                                                        style="margin-top: 0;">
                                                                        <v-col cols="3" class="d-flex justify-center"
                                                                            style="padding-top: 0; padding-bottom: 0;"><b>{{
                                                                                item }}</b></v-col>
                                                                        <v-col
                                                                            style="padding-top: 0; padding-bottom: 0;">
                                                                            <v-radio-group
                                                                                v-model="selectedData.scalp[0][scalp_sections_map[section]][0][key]"
                                                                                row>
                                                                                <v-col
                                                                                    style="padding-top: 0; padding-bottom: 0;"><v-radio
                                                                                        class="custom-radio"
                                                                                        :value="1"></v-radio></v-col>
                                                                                <v-col
                                                                                    style="padding-top: 0; padding-bottom: 0;"><v-radio
                                                                                        class="custom-radio"
                                                                                        :value="2"></v-radio></v-col>
                                                                                <v-col
                                                                                    style="padding-top: 0; padding-bottom: 0;"><v-radio
                                                                                        class="custom-radio"
                                                                                        :value="3"></v-radio></v-col>
                                                                            </v-radio-group>
                                                                        </v-col>
                                                                    </v-row>
                                                                </v-card-text>
                                                        </v-card>
                                                    </v-tab-item>
                                                </v-tabs-items>
                                            </v-card-text>
                                        </v-card>
                                    </v-card-text>

                                    <v-card-text>
                                        <v-card class="customer-card">
                                            <v-card-title class="section-title">備考</v-card-title>
                                            <v-card-text>
                                                <v-row class="status-item mt-4 mb-4">
                                                    <v-col cols="4" style="padding-top: 0; padding-bottom: 0;"></v-col>
                                                    <v-col class="d-flex justify-center"
                                                        style="padding-top: 0; padding-bottom: 0;">なし</v-col>
                                                    <v-col class="d-flex justify-center"
                                                        style="padding-top: 0; padding-bottom: 0;">あり</v-col>
                                                </v-row>
                                                <v-row align="center" v-for="(item, key) in noteItems" :key="key"
                                                    style="margin-top: 0;">
                                                    <v-col cols="4" class="d-flex justify-center"
                                                        style="padding-top: 0; padding-bottom: 0;"><b>{{ item
                                                            }}</b></v-col>
                                                    <v-col style="padding-top: 0; padding-bottom: 0;">
                                                        <v-radio-group v-model="selectedData.scalp[0].remarks[0][key]"
                                                            row>
                                                            <v-col style="padding-top: 0; padding-bottom: 0;"><v-radio
                                                                    :value="false"
                                                                    class="custom-radio"></v-radio></v-col>
                                                            <v-col style="padding-top: 0; padding-bottom: 0;"><v-radio
                                                                    :value="true"
                                                                    class="custom-radio"></v-radio></v-col>
                                                        </v-radio-group>
                                                    </v-col>
                                                </v-row>
                                            </v-card-text>
                                        </v-card>
                                    </v-card-text>

                                    <v-divider class="my-4"></v-divider>

                                    <v-card-text>
                                        <v-card class="customer-card">
                                            <v-card-title class="section-title">毛髪の状態</v-card-title>
                                            <v-card-text>
                                                <v-row v-for="(item, key) in hairItems" :key="key"
                                                    class="status-item d-flex flex-column mt-4">
                                                    <span class="ml-4">{{ item }}</span>
                                                    <v-col>
                                                        <v-radio-group v-model="selectedData.hair[0][key]" row>
                                                            <v-col><v-radio class="custom-radio"
                                                                    :label="hairLabels[key][1]"
                                                                    :value="1"></v-radio></v-col>
                                                            <v-col><v-radio class="custom-radio"
                                                                    :label="hairLabels[key][2]"
                                                                    :value="2"></v-radio></v-col>
                                                            <v-col><v-radio class="custom-radio"
                                                                    :label="hairLabels[key][3]"
                                                                    :value="3"></v-radio></v-col>
                                                        </v-radio-group>
                                                    </v-col>
                                                </v-row>
                                            </v-card-text>
                                        </v-card>
                                    </v-card-text>
                                </v-card>


                                <v-btn color="light-green lighten-3" class="ml-4"
                                    :style="{ height: '48px', color: '#404040' }" @click="goBack"><b>戻る</b></v-btn>
                            </template>
                            <template v-else>
                                <v-card>
                                    <v-card-text>
                                        顧客情報が見つかりません。
                                    </v-card-text>
                                </v-card>
                            </template>

                        </div>
                    </transition>


                </v-container>
            </v-main>
            <!-- ▲ Main ▲ ------------------------------------------------------------------------------------->


        </template>
    </v-app>
    <!-- ▲ App ▲ -------------------------------------------------------------------------------------->


    <!-- ▼ Style ▼ ------------------------------------------------------------------------------------>
    <style>
        /* Fade */
        .fade-page-enter-active,
        .fade-page-leave-active {
            transition: opacity 2s;
        }

        .fade-page-enter,
        .fade-page-leave-to {
            opacity: 0;
        }

        body {
            background: rgb(216, 238, 221);
            font-family: 'Roboto', sans-serif;
        }

        .customer-card {
            margin-bottom: 20px;
        }

        .section-title {
            background-color: rgb(98, 173, 115);
            color: white;
            padding: 10px 20px;
            border-radius: 4px;
            margin-bottom: 15px;
        }

        .status-item {
            font-weight: bold;
        }

        .custom-radio .v-icon {
            color: #4CAF50 !important;
        }

        .date-select .v-select__selections {
            color: white !important;
        }

        .v-menu__content {
            background-color: #E8F5E9 !important;
        }
    </style>
    <!-- ▲ Style ▲ ------------------------------------------------------------------------------------>


    <!-- ▼ Script Reference ▼ ------------------------------------------------------------------------->
    <!-- Main -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vector-js@4.1.1/dist/vector.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- Compornent -->
    <script src="./Asset/Javascript/common.js"></script>
    <script src="./Asset/Javascript/main-system-bar.js"></script>
    <script src="./Asset/Javascript/main-navigation.js"></script>
    <!-- ▲ Script Reference ▲ ------------------------------------------------------------------------->


    <!-- ▼ Script Content ▼ --------------------------------------------------------------------------->
    <script>


        // Variable ----------------------------------------------------------------------
        let vue = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                drawer: false,
                show_page: false,

                customer: null,
                activeTab: null,
                scalp_sections: ['トップ', 'サイド', 'バック', 'ネープ'],
                scalp_sections_map: {
                    'トップ': 'top',
                    'サイド': 'side',
                    'バック': 'back',
                    'ネープ': 'nape'
                },
                scalpItems: {
                    redness: '赤み',
                    keratin: '角質',
                    dryness: '乾燥',
                    oiliness: '油分',
                    pores: '毛穴',
                    hair_loss: '抜け毛',
                    itching: 'かゆみ'
                },
                hairItems: {
                    luster: 'ツヤ',
                    thickness: '太さ',
                    shape: '形状',
                    hardness: '硬さ',
                    elasticity: '弾力'
                },
                noteItems: {
                    swelling: '腫れ',
                    eczema: '湿疹',
                    inflammation: '炎症',
                    scars: '傷',
                    atopic_dermatitis: 'アトピー',
                    pain: '痛み'
                },
                hairLabels: {
                    luster: { 1: 'なし', 2: '普通', 3: 'あり' },
                    thickness: { 1: '細', 2: '普通', 3: '太' },
                    shape: { 1: '直毛', 2: '普通', 3: '癖毛' },
                    hardness: { 1: '柔', 2: '普通', 3: '硬' },
                    elasticity: { 1: '弱', 2: '普通', 3: '強' }
                },
            },
            computed: {
                selectedData() {
                    return this.customer && this.customer.data.length > 0
                        ? this.customer.data[this.selectedDataIndex]
                        : null;
                }
            },
            methods: {
                // System
                Change_Drawer(_value) {
                    this.drawer = _value;
                },
                goBack() {
                    window.history.back();
                },
                changeScalpStatus(section, key) {
                    let englishSection = this.scalp_sections_map[section];
                    let currentValue = this.selectedData.scalp[0][englishSection][0][key];
                    this.selectedData.scalp[0][englishSection][0][key] = (currentValue % 3) + 1;
                },
                changeHairStatus(key) {
                    let currentValue = this.selectedData.hair[0][key];
                    this.selectedData.hair[0][key] = (currentValue % 3) + 1;
                },

                calculateAge(birthday) {
                    const birthDate = new Date(birthday);
                    const today = new Date();
                    let age = today.getFullYear() - birthDate.getFullYear();
                    const monthDiff = today.getMonth() - birthDate.getMonth();
                    if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birthDate.getDate())) {
                        age--;
                    }
                    return age;
                }
            },
            mounted() {
                $(window).ready(() => { this.show_page = true; });

                const urlParams = new URLSearchParams(window.location.search);
                const customerId = urlParams.get('id');
                const customers = JSON.parse(localStorage.getItem("CustomerData"));
                this.customer = customers.find(c => c.id === parseInt(customerId));

                if (this.customer && this.customer.data.length > 0) {
                    this.selectedDataIndex = this.customer.data.length - 1;
                }
            },
        });

    </script>
    <!-- ▲ Script Content ▲ --------------------------------------------------------------------------->


</body>
<!-- ▲ Body ▲ ------------------------------------------------------------------------------------->


</html>